{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Индивидуальные занятия{% endblock title %}

{% block active_ind_school_detail %}active{% endblock active_ind_school_detail %}

{% block zagl %}Индивидуальные занятия. Удалить курс {% endblock zagl %}

{% block content %}

<form method="POST"> {% csrf_token %}

     <button type="submit" class="btn btn-primary">Удалить</button>
</form>
    <br>
    <a href="{% url 'ind_school_detail' %}"><button type="button" class="btn btn-outline-secondary">Назад без сохранения</button></a>


{% endblock content %}