{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Школа Иностранных языков{% endblock title %}

{% block active_lang_school_detail %}active{% endblock active_lang_school_detail %}

{% block zagl %}Школа Иностранных языков. Изменить курс {% endblock zagl %}

{% block content %}

    <form method="POST"> {% csrf_token %}

    {{ form.title|bootstrap_horizontal }}
    {{ form.coach|bootstrap_horizontal }}
    {{ form.description|bootstrap_horizontal }}
    {{ form.price|bootstrap_horizontal }}
    {{ form.discount|bootstrap_horizontal }}
    {{ form.time_to_class|bootstrap_horizontal }}
    {{ form.date_to_start|bootstrap_horizontal }}
    {{ form.count_students_in_group|bootstrap_horizontal }}
    {{ form.count_students|bootstrap_horizontal }}

     <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
    <br>
    <a href="{% url 'lang_school_detail' %}"><button type="button" class="btn btn-outline-secondary">Назад без сохранения</button></a>


{% endblock content %}