
{% extends 'base.html' %}

{% block title %}Школа Иностранных языков{% endblock title %}

{% block active_lang_school_detail %}active{% endblock active_lang_school_detail %}

{% block zagl %}Школа Иностранных языков{% endblock zagl %}

{% block content %}
<a href="{% url 'lang_school_create_det' %}"><button type="button" class="btn btn-outline-secondary">Добавить курс</button></a>
<br>

   {% for title in data %}
        <table class ="table table-striped"><br>
        <h4 class="text-info">{{title.name_cours}} <span><a class="links-tabl" href="{% url 'lang_school_update_title' title.pk %}">Изм.</a></span></h4>
        <h6 class="text-secondary">{{title.description}}</h6>
        <th class="titl-tabl alert alert-dark">Краткое описание</th>
        <th class="titl-tabl alert alert-dark">Цена закурс</th>
        <th class="titl-tabl alert alert-dark">Режим занятий</th>
        <th class="titl-tabl alert alert-dark">Скид- ка</th>
        <th class="titl-tabl alert alert-dark">Старт занятий</th>
        <th class="titl-tabl alert alert-dark">Препод</th>
        <th class="titl-tabl alert alert-dark">Кол. зап</th>
        <th class="titl-tabl alert alert-dark">Кол ст в групп</th>
        <th class="titl-tabl alert alert-dark">Изм</th>
        <th class="titl-tabl alert alert-dark">Удал</th>


        <tr class="">
         {% for detail in title.design_title.all %}
            <td class="descr-cours">{{detail.description}}</td>
            <td>{{detail.price}} грн</td>
            <td>{{detail.time_to_class}}</td>
            <td>{{detail.discount}}%</td>
            <td>{{detail.date_to_start}}</td>
            <td class="prepod-in-tabl" >{% for coach in detail.coach.all %}
            <span  data-toggle="tooltip" data-placement="top"
                title="{{ coach.name }}
{{ coach.phone }}
{{ coach.description }}">
                {{coach.surname}}</span>
            {% endfor %}</td>
            <td>{{detail.count_students}}</td>
            <td>{{detail.count_students_in_group}}</td>
            <td class="links-tabl"><a href="{% url 'lang_school_update_det' detail.pk %}">Изм.</a></td>
            <td class="links-tabl"><a href="{% url 'lang_school_delete_det' detail.pk %}">Удал.</a></td>
        </tr>
        {% endfor %}
   {% endfor %}
</table>

{% endblock content %}


